@model TaskAppTp.Models.Carpeta

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center">
    <a asp-action="Index" class="btn btn-primary rounded-circle" ><i class="bi bi-arrow-left"></i></a>
    <h1 class="mx-auto">Eliminar carpeta</h1>
</div>
<hr />
<h3>¿Esta seguro que quiere eliminar esta carpeta?</h3>
<p class="alert alert-danger">Tambien se eliminaran las tareas asociadas a la misma</p>
<div class="d-flex flex-column align-items-center gap-3 mt-4">
    <dl class="row w-50">
        <dt class = "col-sm-4">
            Id
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            Nombre
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="EliminarCarpeta" method="post">
        <input asp-for="Id" id="id" type="hidden" />
        <input type="submit" value="Eliminar carpeta" class="btn btn-danger" />
    </form>
</div>
